<!DOCTYPE html>
<head>
<meta charset="utf-8">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
  <script src="libraries/jquery.js"></script>
  <script src="libraries/jquery-ui.min.js"></script>
  <script src="libraries/underscore.js"></script>
  <script src="libraries/backbone.js"></script>
  <script src="libraries/d3.js"></script>
  <script src="libraries/topojson.js"></script>
  <script src="libraries/datamaps.world.js"></script>
  <script src="libraries/nv.d3.min.js"></script>

  <link href="css/home.css" rel="stylesheet" type="text/css">
  <link href="css/chart.css" rel="stylesheet" type="text/css">
  <script>
  $(function() {
    $( "#tabs" ).tabs();
  });
  </script>
</head>
<body>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Map</a></li>
    <li><a href="#tabs-2">Data</a></li>
    <li><a href="#tabs-3">New</a></li>
  </ul>
  <div id="tabs-1">
    <div id="container1" style="position: relative; width: 100%; max-height: 700px;"></div>

  </div>
  <div id="tabs-2">
    <div id="container2" style="position: relative; width: 100%; max-height: 700px;"></div>
  </div>
  <div id="tabs-3">
    <script src="javascripts/charts.js"></script>

      <div id="chart">
        <svg></svg>
      </div>
  </div>
</div>



  <script src="javascripts/maps.js"></script>
  <script src="javascripts/potentialagreements.js"></script>
  <link href="css/nv.d3.min.css" rel="stylesheet" type="text/css">

</body>
