<!DOCTYPE html>
<meta charset="utf-8">
<body>

  <script src="libraries/jquery.js"></script>
  <script src="libraries/jquery-ui.min.js"></script>
  <script src="libraries/d3.js"></script>
  <script src="libraries/topojson.js"></script>
  <script src="libraries/datamaps.world.js"></script>
  <script src="solar.js"></script>
  <link href="home.css" rel="stylesheet" type="text/css">

  <header>

    <script src="navigation.js"></script>

  </header>

  <div id="container1" style="position: relative; width: 100%; max-height: 700px;"></div>

  <script src="maps.js"></script>

</body>
